<!DOCTYPE html>
<html lang="en">
<head>
  {{>header_link}}
</head>
<body>

  {{>navbar}}
    <!----------  main header  ----->
<dir class="container-fluid main_header">
  <dir class="row">
      <dir class="col-md-10 col-12 mx-auto">
      <div class="row">

                <!------ left header------>
                <dir class="col-md-12 col-12 main_header_left align-items-center">
                  <figure class="errimg">
                      <img src="image/404.png" alt="jarvis" class="img-fluid1" title="jarvis 2.0">
                  </figure>
                  <p>Welcome to jarvis 2.0 world</p>
                  <h1>{{errorMsg}} </h1>
                  <a href="/"> <button> Back Home</button></a>  
              </dir>
      



      </div>
      </dir>  
  </dir> 
</dir>
{{>footer}}
</body>
</html>