<!DOCTYPE html>
<html lang="en">
<head>
  {{>header_link}}
</head>
<body>

  {{>navbar}}
    <!----------  main header  ----->
<dir class="container-fluid main_header">
  <dir class="row">
      <dir class="col-md-10 col-12 mx-auto">
      <div class="row">

                <!------ left header------>
                <dir class="col-md-6 col-12 main_header_right">
                  <figure>
                      <img src="image/about1.png" alt="jarvis" class="img-fluid1" title="jarvis 2.0">
                  </figure>
              
              
              </dir>
      

                <!------ right header------>
                <dir class="col-md-6 col-12 main_header_left">
                  <p> Welcome to Weather App</p>
                  <h1> I am  <span class="txt_clr"> Meanstack Developer & </span> script Writer </h1>
                  <a href="/"> <button>Check now</button></a>  
              </dir>
      



      </div>
      </dir>  
  </dir> 
</dir>
{{>footer}}
</body>
</html>